# ==================================================
# VERSION 2
# ==================================================
# Vector Database
qdrant-client
faiss-cpu
# Embedding
FlagEmbedding
# LangChain
langchain
langchain-community
langchain-core
langchain-text-splitters
# LLM
transformers
accelerate
optimum
# Tokenizer
tiktoken
# Retrieval
rank-bm25
# Chunking
unstructured
# OCR
pytesseract
# Subtitle
pysrt
# PDF Support
pymupdf
# Utilities
tenacity
# Evaluation
bert-score
rouge-score