# ==================================================
# VERSION 1
# AI Video Intelligence Platform
# ==================================================

# ----------------------------
# Backend
# ----------------------------
fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings

# ----------------------------
# AI
# ----------------------------
torch
torchvision
torchaudio
transformers
accelerate
sentencepiece
safetensors

# ----------------------------
# Speech Recognition
# ----------------------------
faster-whisper
ctranslate2

# ----------------------------
# NLP
# ----------------------------
sentence-transformers
spacy
nltk

# ----------------------------
# Embedding
# ----------------------------
FlagEmbedding

# ----------------------------
# Data
# ----------------------------
numpy
pandas

# ----------------------------
# Video
# ----------------------------
opencv-python
moviepy
ffmpeg-python

# ----------------------------
# Audio
# ----------------------------
librosa
soundfile

# ----------------------------
# Utilities
# ----------------------------
python-dotenv
tqdm
rich
loguru

# ----------------------------
# API
# ----------------------------
requests
httpx

# ----------------------------
# JSON
# ----------------------------
orjson

# ----------------------------
# Testing
# ----------------------------
pytest

# ----------------------------
# Formatting
# ----------------------------
black
isort
flake8