accelerate
aiofiles
aiohttp
alembic
apache-airflow
apscheduler
bandit
beautifulsoup4
bert-score
bitsandbytes
black
boto3
celery
ctranslate2
deep-translator
diskcache
docker
duckdb
dvc
dynaconf
emails
email-validator
evaluate
faiss-cpu
fastapi
faster-whisper
feast
ffmpeg-python
FlagEmbedding
flake8
grafana-api
graphviz
great-expectations
gunicorn
httpx
hydra-core
isort
kafka-python
kubernetes
lancedb
langchain
langchain-community
langchain-core
langchain-text-splitters
langdetect
librosa
loguru
markdown
matplotlib
minio
mlflow
moviepy
mypy
neo4j
networkx
nltk
numpy
onnx
onnxruntime
opencv-python
openpyxl
opentelemetry-api
opentelemetry-sdk
optimum
optuna
orjson
pandas
peft
pika
plotly
polars
pre-commit
prefect
prometheus-client
psutil
psycopg[binary]
pwdlib
pyannote.audio
pyarrow
pyAudioAnalysis
pydantic
pydantic-settings
pymilvus
pymupdf
pysrt
pytesseract
pytest
pytest-cov
python-docx
python-dotenv
python-jose
python-multipart
python-pptx
pyvis
qdrant-client
ragas
rank-bm25
ray
redis
reportlab
requests
rich
rouge-score
ruff
safetensors
scikit-learn
sentencepiece
sentence-transformers
sentry-sdk
soundfile
spacy
sqladmin
sqlalchemy
streamlit
structlog
summa
tenacity
tiktoken
torch
torchaudio
torchvision
tqdm
transformers
trl
unstructured
uvicorn[standard]
wandb
weaviate-client
webrtcvad
websockets
xformers