# ==================================================
# VERSION 4
# ==================================================
# Speaker Diarization
pyannote.audio
# Voice Activity Detection
webrtcvad
# Meeting Analytics
pyAudioAnalysis
# Dashboard
streamlit
# Charts
plotly
matplotlib
# Authentication
pwdlib
python-jose
# Redis
redis
# Cache
diskcache
# Scheduling
apscheduler
# Email
emails
# Websocket
websockets
# Admin
sqladmin